@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.left {
    grid-area: left;
    padding: 2em;
    color: white;
}

.left h1{
        font-weight: 700;
}

.top-right {
    background-color: hsl(248, 32%, 49%);
    /* width: 70vw;
    height: 10vh; */
    grid-area: top-right;
    padding: 0.3em;
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 12px;
    text-align: center;
    /* text-align: center; */
}

.bottom-right {
    /* background-color: rgb(36, 5, 5);
    width: 70vw;
    height: 60vh; */
    grid-area: bottom-right;
    border-radius: 15px;
}

main {

    display: grid;
    gap: 10px;
    grid-template-areas:
        "left top-right"
        "left bottom-right";
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    
}

body {
    place-items: center;
    justify-content: center;
    display: flex;
    height: 100vw;
    background-color: hsl(0, 100%, 74%);
    overflow: hidden;
    background-image: url("reg_images/bg-intro-desktop.png");
}

form{
    background-color: white;
    padding: 2em;
    width: 0%;

    
}

form, input {
    width: 100%;

    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    font-size: 16px;
    /* border-bottom: 2px solid red; */
}

input{
    padding: 12px 12px;
}

input[type=button]{
    cursor: pointer;
    background-color: hsl(154, 59%, 51%);
    border: 2px solid hsl(154, 59%, 51%);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: white;
}

form p{
    font-weight: 400;
    font-size: 8px;
    color: hsl(246, 25%, 77%);
}

form:focus {
    outline: 1px solid #3D9FFF;
}


@media screen and (max-width: 375px) {
    main{
        grid-auto-flow:column;}

}
