@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.left {
    grid-area: left;
    padding: 2em;
    color: white;
}

.left h1 {
    font-weight: 700;
}

.top-right {
    background-color: hsl(248, 32%, 49%);
    /* width: 70vw;
    height: 10vh; */
    grid-area: top-right;
    padding: 0.3em;
    width: 30vw;
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 12px;
    text-align: center;
}

.top-right p {
            display: inline-block;
    /* text-align: center; */
}

.bottom-right {
    /* background-color: rgb(36, 5, 5);
    width: 70vw;
    height: 60vh; */
    grid-area: bottom-right;
    /* border-radius: 15px; */
}

main {

    display: grid;
    gap: 10px;
    grid-template-areas:
        "left top-right"
        "left bottom-right";
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    /* overflow: hidden; */
    font-family: 'Poppins', sans-serif;

}

body {
    place-items: center;
    justify-content: center;
    display: flex;
    height: 100vw;
    background-color: hsl(0, 100%, 74%);
    /* overflow: hidden; */
    background-image: url("reg_images/bg-intro-desktop.png");
    font-size: 16px;
}

form {
    background-color: white;
    padding: 2em;
    width: 0%;
    border-radius: 10px;

}

  /* form {
      padding: 0.5em;
      border-radius: 10px;
      width: 80vw;
  }

  input {
      width: 70vw;
      margin: auto;
      display: block;
  } */

#fname {
      margin-top: 15px;
  }

#send {
      /* margin-top: -25px; */
    width: 25vw;
  }

form,
input {
    width: 30vw;
    /* display: inline-block; */
    margin: 8px 0;
    box-sizing: border-box;
    border: 0.5px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    font-size: 16px;
    /* border-bottom: 2px solid red; */
}

form{
    margin-right: 25px;
    display: block;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

input {
    padding: 12px 12px;
    width: 25vw;
}



input[type=submit] {
    cursor: pointer;
    background-color: hsl(154, 59%, 51%);
    border: 0.5px solid hsl(154, 59%, 51%);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: white;
}

/* input[type=text]:invalid, #e-mail:invalid {
    border:1.5 solid hsl(0, 100%, 74%);
    background: url(./reg_images/icon-error.svg)no-repeat scroll 370px 7px;
    padding-right: auto;
    visibility: hidden;
} */

/* .input-container[data-error] .input{
    border-color: brown;
    color: red;
    background: white;
} */

/* .input-container[data-error]::after{
    content: attr(data-error);
    font-size: 0.85em;
    color: red;
    display: block;
    margin:10px 0;
    visibility: hidden;
} */

form p {
    font-weight: 400;
    font-size: 8px;
    color: hsl(246, 25%, 77%);
    text-align: center;
}



form:focus {
    outline: 1.5px solid hsl(246, 25%, 77%);
}


/* @media screen and (max-width: 375px) {
    main {
        grid-auto-flow: column;
    }

} */

@media only screen and (max-width: 900px) {
  main {
    grid-auto-flow: column;
    grid-template-areas:
      "left"
      "top-right"
      "bottom-right";
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    place-items: center;
  }

  div h1 {
    font-weight: 700;
    font-size: 25px;
  }

  .top-right p {
    display: block;
    padding: auto;
    border-radius: 10px;
  }
  .top-right {
    width: 80vw;
    
  }

  .left, form p{
      text-align: center;
  }

  form{
    padding: 0.5em;
    border-radius: 10px;
    width: 80vw;
            margin: auto;
                display: block;
  }

  input{
      width: 70vw;
        margin: auto;
            display: block;
  }

  #fname{
      margin-top: 15px;
  }
  #send{
    margin-top: -25px;
    width: 70vw;
  }
}


/* @media screen and (max-width: 1440px) {
    main {
            display: grid;
            gap: 10px;
            grid-template-areas:
                "left top-right"
                "left bottom-right";
            width: 70%;
            margin: auto;
            margin-top: 100px;
            overflow: hidden;
            font-family: "Poppins", sans-serif;
        }

         form {
             padding: 0.5em;
             border-radius: 10px;
             width: 80vw;
         }
    
         input {
             width: 70vw;
             margin: auto;
             display: block;
         }

.left {
    grid-area: left;
    padding: 1px;
    color: white;
}

} */